@model Project.F1.Models.Constructor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Constructor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConstructorId" />
            <div class="form-group">
                <label asp-for="ConstructorName" class="control-label"></label>
                <input asp-for="ConstructorName" class="form-control" />
                <span asp-validation-for="ConstructorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConstructorColour" class="control-label"></label>
                <input asp-for="ConstructorColour" class="form-control" />
                <span asp-validation-for="ConstructorColour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
